<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <span class="btn-category">
                <img src="./images/menu-btn.svg" alt="Menu button" />
            </span>
        </div>
    </header>
    <main>
        <section class="mobile-block">
            <div class="mobile-block__header is-secondary">
                Каталог
            </div>
            <div class="container">
                <div class="category-row">
                    <div class="category-item">
                        <img src="./images/laptop (1).svg" alt="LAPTOP" class="category-item__img" />
                        <span class="category-item__title">Ноутбуки</span>
                    </div>
                    <div class="category-item">
                        <img src="./images/pc-display-horizontal.svg" alt="COMPUTER" class="category-item__img" />
                        <span class="category-item__title">Компьютеры</span>
                    </div>
                    <div class="category-item">
                        <img src="./images/mouse-fill.svg" alt="MOUSE" class="category-item__img" />
                        <span class="category-item__title">Мышки</span>
                    </div>
                    <div class="category-item">
                        <img src="./images/cpu.svg" alt="CPU" class="category-item__img" />
                        <span class="category-item__title">Процесеры</span>
                    </div>
                    <div class="category-item">
                        <img src="./images/keyboard.svg" alt="KEYBOARD" class="category-item__img" />
                        <span class="category-item__title">Клавиатура</span>
                    </div>
                    <div class="category-item">
                        <img src="./images/motherboard.svg" alt="MOTHERBOARD" class="category-item__img" />
                        <span class="category-item__title">Материнская плата</span>
                    </div>
                    <div class="category-item">
                        <img src="./images/phone.svg" alt="PHONE" class="category-item__img" />
                        <span class="category-item__title">Телефоны</span>
                    </div>
                    <div class="category-item">
                        <img src="./images/tablet.svg" alt="TABLET" class="category-item__img" />
                        <span class="category-item__title">Планшеты</span>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>