<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopster</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <span class="btn-category">
                <img src="./images/menu-btn.svg" alt="Menu button" />
            </span>
        </div>
    </header>
        <main>
            <section class="mobile-block">
                <div class="mobile-block__header is-secondary">
                    Ноутбуки
                </div>
                    <div class="all-news-block">
                        <div class="news-card">
                            <div class="container">
                                <h3 class="news-card__title">Ноутбук Acer Aspire 7</h3>
                                <span class="news-card__price">Цена: 349 990 ₸</span>
                            </div>
                        </div>
                        <div class="news-card">
                            <div class="container">
                                <h3 class="news-card__title">Ноутбук Lenovo IdeaPad 5 Pro</h3>
                                <span class="news-card__price">Цена: 559 990 ₸</span>
                            </div>
                        </div>
                        <div class="news-card">
                            <div class="container">
                                <h3 class="news-card__title">Ноутбук Apple MacBook Air A3114</h3>
                                <span class="news-card__price">1 084 990 ₸
                                </span>
                            </div>
                        </div>
                        <div class="news-card">
                            <div class="container">
                                <h3 class="news-card__title">Ноутбук Gigabyte G6X
                                </h3>
                                <span class="news-card__price">Цена: 629 990 ₸</span>
                            </div>
                        </div>
                        <div class="news-card">
                            <div class="container">
                                <h3 class="news-card__title">Ноутбук HP Omen 16</h3>
                                <span class="news-card__price">Цена: 529 900 ₸</span>
                            </div>
                        </div>
                        <div class="news-card">
                            <div class="container">
                                <h3 class="news-card__title">Ноутбук ASUS ROG Zephyrus G16</h3>
                                <span class="news-card__price">Цена:1 779 990 ₸</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>