<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post detail</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <span class="btn-category">
                <img src="./images/menu-btn.svg" alt="Menu button">
            </span>
        </div>
    </header>


    <main>
        <section class="mobile-block absolute-top">
            <div class="back-button">
                <div class="container">
                    <img src="./images/back-button-svgrepo-com (1) 1.svg" alt="Back icon">
                    <span>Назад</span>
                </div>
            </div>
            <div class="container">
                <div class="post-detail-block">
                    <h3 class="news-card__title">Ноутбук Acer Aspire 7 A715-76G</h3>
                    <img src="./images/acer-aspire-a71576g-charcoal-black-nhqmyeu001-98579016566281.png" alt="name" />
                </div>
            </div>
                    <div class="formdetail">
                        <span class="title-description">Описание</span>
                        <p class="description">    
                        Aspire 7 - компактный ноутбук с качественным Full HD IPS 
                    дисплеем и богатым набором интерфейсов. Благодаря
                    производительному железу, ноутбук прекрасно справится с 
                    самыми требовательными задачами, а также отлично 
                    подходит для современных игр на высоких настройках
                        </p>
                    </div>
                    <div class="formdetail">
                        <span class="title-for">Подходит для:</span>
                        <span class="post-detail-for">1. Студенты и офисные работники</span>
                        <span class="post-detail-for">2. Геймеры на начальном уровне</span>
                        <span class="post-detail-for">3. Творческие специалисты</span>
                        <span class="post-detail-for">4. Разработчики и IT- специалисты</span>
                    </div>
                    <div class="formdetail">
                        <span class="title-chr">Характеристики:</span>
                        <span class="post-detail-chr">Диагональ дисплея, дюйм: 16</span>
                        <span class="post-detail-chr">Серия процессора: Intel core 15</span>
                        <span class="post-detail-chr">Модель процессора: 1335U</span>
                        <span class="post-detail-chr">Модель процессора: 16</span>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>